

p.code{
font-family:'courier new', courier, serif;
padding:10px;
background-color:#444444;
color:white;
border:1px solid #888888;
}

#container{
	width:740px;
	margin:auto;
	margin-top:50px;
	position:relative;
	min-height:600px;
}

table tr td{

	padding:4px;
	background-color: #dddddd;

}

table tr th{
	padding:4px;
	background-color: #cccccc;
	font-weight: bold;
}

.egg_accordion{
-moz-box-shadow: 1px 1px 3px #aaa;
	-webkit-box-shadow: 1px 1px 3px #aaa;
	box-shadow: 1px 1px 3px #aaa;
}

.logo{
	position:absolute;
	left:0px;
	top:0px;
	background-color:white;
	border:none;
	border-radius:8px;
	
	-moz-box-shadow: 5px 5px 5px #444;
	-webkit-box-shadow: 5px 5px 5px #444;
	box-shadow: 5px 5px 5px #444;
	
}

#nav{
	border-radius:8px;
	position:absolute;
	top:127px;
	left:0px;
	width:189px;
	padding:0 0 20px 0;
	text-align:right;
	border-right:1px dotted #e5e5e5;
	background-color:#ffffff;
	
	-moz-box-shadow: 5px 5px 5px #444;
	-webkit-box-shadow: 5px 5px 5px #444;
	box-shadow: 5px 5px 5px #444;

}

#nav h2{margin:20px 0 5px 0;padding:2px 10px 2px 10px;display:block;}

#nav a{display:block;padding:2px 10px 2px 10px;text-decoration:none;color:#ff8888;}
#nav a:hover{color:#ff3333;}


#main{
	border-radius:8px;
	background-color:#f8f8f8;
	margin-left:203px;
	padding:15px 15px 40px 15px;
	min-height:599px;
	position:relative;
	font-size:14px;
	
	-moz-box-shadow: 5px 5px 5px #444;
	-webkit-box-shadow: 5px 5px 5px #444;
	box-shadow: 5px 5px 5px #444;
}

#foot{
	position:absolute;
	bottom:10px;
	left:0px;
	width:537px;
	text-align:center;
	color:#aaaaaa;
}

#main h1{
	text-transform:uppercase;
	font-size:24px;
}