body {
	padding:5px;
	font-family:"Trebuchet MS", tahoma, arial;
	font-size:12px;
	background-color:#ccdce5;
}

.content{	
	/*width: 950px;*/
	margin-left: 200px;
	margin-right: 200px;
}

.login{
	text-align:center;
	vertical-align: center;
	margin:50px;	
	margin-left: 200px;
	font-size: 18px
}
.login td{
	padding: 40px;
}

.block{
	font-family:"Consolas","Times New Roman","微软雅黑","楷体","华文楷体","宋体";
	-webkit-box-shadow: 2px 2px 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 2px 2px 4px #000;
	-webkit-transition: -webkit-box-shadow .3s ease-out;
	-moz-transition: -moz-box-shadow .3s ease-out;
	transition: box-shadow .3s ease-out;
	margin: 5px;
	float:left;
	background-color: rgb(250,100,100);
	/*padding: 10px;*/
	padding-bottom: 40px;
	font-size: 16px;
	/*position: absolute;*/
}

.wrap { 
	table-layout:fixed;
	word-break: break-all;
	overflow:hidden; } 

.block:hover {
	/*cursor: pointer;*/
	-webkit-box-shadow: 4px 4px 12px #000;
	-moz-box-shadow: 0 0 12px #000;
	box-shadow: 4px 4px 12px #000;
}

.blockcontent {
	margin: 10px;
	overflow-y:auto;
	height: 100%;
}

.blockcontent img{
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
/*width: 50px;*/
height: 50px;
}

.blockcontent table td{
	padding-bottom: 10px
}

.blockcontent p{
	margin-top:0px;
	margin-bottom: 8px
}

.blocktitle{
	background: rgba(255, 255, 255, 0.5)!important;
    background: #fff;
    filter: alpha(opacity=50);  
	height: 20px;
	padding: 3px;
	padding-left: 10px;
	font-size: 15px;
	font-weight: bold;
	font-family: '微软雅黑';
}

.blocktitle img{
	cursor: pointer;
	height: 16px;
	margin: 2px;
	float: right;
}

.searchblock{
	/*margin: 10px;*/
	/*width: 900px;*/
	height: 40px;
	padding-bottom: 50px;
	TEXT-ALIGN: center;
}
#center { MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }

.searchbar{
	width: 500px;
	height: 32px;
	size:10px;
	font-size: 20px;
	display: inline-block;
	position: relative;
}
.searchbtn{
	width: 60px;
	height: 38px;
	font-size: 18px;
	display: inline-block;
	position: relative;
	vertical-align:5%;
}
.briefviewblock{
	width: 200px;
	height: 200px;
	position: absolute;
}
.searchbarimg{
	width: 70px;
	height: 35px;
	display: inline-block;
	position: relative;
	vertical-align:text-top;}

::-webkit-scrollbar-track-piece{
background-color:rgba(0,0,0,0);/*滚动条的背景颜色*/
-webkit-border-radius:0;/*滚动条的圆角宽度*/
}
::-webkit-scrollbar{
width:4px;/*滚动条的宽度*/
height:8px;/*滚动条的高度*/
}
::-webkit-scrollbar-thumb:vertical{/*垂直滚动条的样式*/
height:50px;
background-color:rgba(0,0,0,0.3);
-webkit-border-radius:4px;
/*outline:2px solid #fff;*/
/*outline-offset:-2px;*/
/*border:2px solid #fff;*/
}
::-webkit-scrollbar-thumb:hover{/*滚动条的hover样式*/
height:50px;
background-color:rgba(0,0,0,0.8);
-webkit-border-radius:4px;
}