body {
	padding:5px;
	font-family:"Trebuchet MS", tahoma, arial;
	font-size:12px;
	background-color:#ccdce5;
}

.content{
	margin-left: 100px;
	margin-right: 100px;
}

table tr td{
	/*padding:4px;*/
	/*background-color: #dddddd;*/
}

.greenblock{
	margin: 10px;
	width: 200px;
	height: 200px;
	background-color: green;
	position: absolute;
}
.redblock{
	width: 200px;
	height: 200px;
	background-color: rgb(250,100,100);
	/*position: absolute;*/
}

.block{
	font-family:"Consolas","Times New Roman","微软雅黑","楷体","华文楷体","宋体";
	-webkit-box-shadow: 2px 2px 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 2px 2px 4px #000;
	-webkit-transition: -webkit-box-shadow .3s ease-out;
	-moz-transition: -moz-box-shadow .3s ease-out;
	transition: box-shadow .3s ease-out;
	margin: 5px;
	float:left;
	background-color: rgb(250,100,100);
	/*padding: 10px;*/
	padding-bottom: 40px;
	font-size: 16px;
	/*position: absolute;*/
}

.wrap { 
	table-layout:fixed;
	word-break: break-all;
	overflow:hidden; } 

.block:hover {
	/*cursor: pointer;*/
	-webkit-box-shadow: 4px 4px 12px #000;
	-moz-box-shadow: 0 0 12px #000;
	box-shadow: 4px 4px 12px #000;
}

.blockcontent {
	margin: 10px;
	overflow-y:auto;
	height: 100%;
	
}

.blockcontent img{
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

.blocktitle{
	background: rgba(255, 255, 255, 0.5)!important;
    background: #fff;
    filter: alpha(opacity=50);  
	height: 20px;
	padding: 3px;
	padding-left: 10px;
	font-size: 15px;
	font-weight: bold;
	font-family: '微软雅黑';
}

.blocktitle img{
	cursor: pointer;
	height: 16px;
	margin: 2px;
	float: right;
}

.searchblock{
	margin: 10px;
	/*width: 900px;*/
	height: 40px;
	padding: 50px;
	TEXT-ALIGN: center;
}
#center { MARGIN-RIGHT: auto; MARGIN-LEFT: auto; }

.searchbar{
	width: 500px;
	height: 32px;
	size:10px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	vertical-align:40%;
}
.searchbtn{
	width: 60px;
	height: 38px;
	font-size: 18px;
	display: inline-block;
	position: relative;
	vertical-align:50%;
}
.briefviewblock{
	width: 200px;
	height: 200px;
	position: absolute;
}
.searchbarimg{
	width: 70px;
	height: 35px;
	display: inline-block;
	position: relative;
	vertical-align:text-top;}