<div class="blocktitle">{{ content.name }}
	<img src='static/opennew.png' 
	onclick="javascipt:window.open('{{ content.url }}')"></div>

<div class="blockcontent">
{% if content.type == 'raw' %}
<p class="wrap">{{ content.data }}</p>
</div>
{% elif content.type == 'textlines' %}
<!-- <div class="blockcontent"> -->
	{% for line in content.data%}
		{% if line.url %}
		<p><a href="{{ line.url }}">{{ line.text }}</a></p>
		{% else %}
		<p>{{ line.text }}</p>
		{% endif %}
	{% endfor %}
</div>
{% elif content.type == 'imgtextlines' %}
<!-- <div class="blockcontent"> -->
<table class='wrap'>
	{% for line in content.data%}
	<tr style="vertical-align:top"><td>
		<img src="/service/getpic?url={{ line.image }}" width="50" />
	</td><td>
		{{ line.text }}	
	</td></tr>
	{% endfor %}
</table>
</div>
{% elif content.type == 'images' %}
<!-- <div class="blockcontent"> -->
	{% for line in content.data%}
		<img src="{{ line }}" width="100" />	
	{% endfor %}
{% endif %}
</div>