<div class="blocktitle">{{ content.name }}</div>
<div class="blockcontent">

{% if content.type == 'raw' %}
<p class="wrap">{{ content.data }}</p>
</div>
{% elif content.type == 'textlines' %}
<!-- <div class="blockcontent"> -->
	{% for line in content.data%}
		{% if line.url %}
		<p><a href="{{ line.url }}">{{ line.text }}</a></p>
		{% else %}
		<p>{{ line.text }}</p>
		{% endif %}
	{% endfor %}
</div>
{% elif content.type == 'imgtextlines' %}
<!-- <div class="blockcontent"> -->
	{% for line in content.data%}
		<p style="vertical-align:top"><img src="{{ line.image }}" width="50" />
		{{ line.text }}</p>		
	{% endfor %}
</div>
{% elif content.type == 'images' %}
<!-- <div class="blockcontent"> -->
	{% for line in content.data%}
		<img src="{{ line }}" width="100" />	
	{% endfor %}
{% endif %}
</div>