<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>blocks</title>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./egg/egg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./nicescroll/jquery.nicescroll.min.js') }}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='egg/egg.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./es.css') }}" /> 
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./main.css') }}" /> 

</head>

<body>


<div style="float:right">
<a href=/setting>页面设置</a>
{% if session.has_key('username') %}
{{session['username']}}
<a href=/logout>登出</a>
{% else %}
<a href=/register>注册</a>
<a href=/login>登录</a>
{% endif %}
</div>
<h1 style="text-align:center;margin:20px;padding-top:30px">iHomepage</h1>

{% include "block_search.html" %}


<div class="content">
{% for block in blocks%}
	<div class="block" id="b{{ block.uid }}"></div>
	<script type="text/javascript">
	$("#b{{ block.uid }}").width({{ block.width * 150 }});
	$("#b{{ block.uid }}").height({{ block.height * 150-40 }});
	// {% if block.color %}
	// $("#b{{ block.uid }}").css("background-color","{{block.color}}");
	// {% endif %}
	</script>
{% endfor %}
</div>

</body>