<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>blocks</title>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./egg/egg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='es.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='egg/egg.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./es.css') }}" /> 
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./blocks.css') }}" /> 
</head>

<body>
<div style="float:right">
<a href=/setting>页面设置</a>
{% if session.has_key('username') %}
{{session['username']}}
<a href=/logout>登出</a>
{% else %}
<a href=/register>注册</a>
<a href=/login>登录</a>
{% endif %}
</div>
<h1 style="text-align:center;margin:20px;padding-top:30px">iHomepage</h1>
<!--

<div class="greenblock" id="gblock1" style="left:20px;top:80px">

	
</div>

<div class="redblock" id="rblock1" style="left:320px;top:80px">
	
</div>
-->
<div class="content">
{% for block in blocks%}
	{% if block.style == 'searchblock' %}
		{% include "block_search.html" %}
	{% else %}
		{% include "block_textlines.html" %}
	{% endif %}
{% endfor %}
</div>
</body>
