<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册</title>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./egg/egg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='egg/egg.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./es.css') }}" /> 
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./bootstrap.css') }}" /> 
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./main.css') }}" /> 

</head>

<body>

<div style="float:right;margin:15px">
<a href=/>首页</a>
{% if session.has_key('username') %}
{{session['username']}}
<a href=/logout>登出</a>
{% else %}
<a href=/register>注册</a>
<a href=/login>登录</a>
{% endif %}
</div>

<div class='login'>
<table>
<tr>
<td> <div style='text-align:center'>
<img src="{{ url_for('static', filename='./logo.png') }}" style="width:400px;margin-left:20px"/>
</div></td>
<td style='background-color:rgba(255,255,255,0.3)'>
<form action="" method="POST">
<p>用户名　 <input type="text" name="username" autocomplete="off"/></p>
<p>密　码　 <input type="password" name="password" autocomplete="off"/></p>
<p>确认密码 <input type="password" name="verifypassword" autocomplete="off"/></p>
<input style='width:80px;height:40px' type="submit" value="注册" autocomplete="off">
</form>
</td>
<tr>
</table>
</div>

</body>