<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<form action="" method="POST">
{% for block in blocks %}

	type:<input type="text" value="{{block.style}}" name="style_{{block.uid}}" autocomplete="off"/>
	width:<input type="text" value="{{block.width}}" name="width_{{block.uid}}" style="width:15px" autocomplete="off"/>
	height:<input type="text" value="{{block.height}}" name="height_{{block.uid}}" style="width:15px" autocomplete="off"/>
	<input type="submit" value="删除" name="delete_{{block.uid}}" autocomplete="off"><br>
{% endfor %}
<input type="submit" value="全部修改" name="change" autocomplete="off">
</form>

<form action="" method="POST">
	type:<input type="text" name="style" autocomplete="off"/>
	width:<input type="text" name="width" style="width:15px" autocomplete="off"/>
	height:<input type="text" name="height" style="width:15px" autocomplete="off"/>
<input type="submit" value="添加" name="add" autocomplete="off">
</form>

<a href=/>首页</a>
{% if session.has_key('username') %}
{{session['username']}}
<a href=/logout>登出</a>
{% else %}
<a href=/register>注册</a>
<a href=/login>登录</a>
{% endif %}

</body>