<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='./egg/egg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='indexsetting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='egg/egg.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./bootstrap.css') }}" /> 
<link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='./main.css') }}" /> 
<title>页面设置</title>
</head>

<body>
<div style="float:right;margin:15px">
<a href=/>首页</a>
{% if session.has_key('username') %}
{{session['username']}}
<a href=/logout>登出</a>
{% else %}
<a href=/register>注册</a>
<a href=/login>登录</a>
{% endif %}
</div>

<div style="text-align:center;margin-top:30px">
<form action="" method="POST">
	添加新的模块: <!-- name: <input type="text" name="name" autocomplete="off"/> -->
	<select name="name">
	{%for k in blocknames %}
	<option value='{{blocknames[k]}}'>{{k}}</option>
	{%endfor%}
	</select>
	width: <input type="text" name="width" style="width:30px" autocomplete="off"/>
	height: <input type="text" name="height" style="width:30px" autocomplete="off"/>
<input type="submit" value="添加" name="add" autocomplete="off">
</form>

<form action="" method=post enctype=multipart/form-data>
      <input type=file name=file />
      <input type=submit name="upload" value='上传配置文件' />
      <input type=button name="down" value="下载配置文件" onClick="window.location='/downloadsetting'">
</form>
<br />
{% if session.has_key('username') %}
<a href=/dbupload>上传配置到服务器</a>
<a href=/dbdownload>从服务器下载配置</a>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li style='font-size:18px;color:green'>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</div>

<div class="content">
{% for block in blocks%}
	<div class="block" id="b{{ block.uid }}">
	<div class="blocktitle">{{ block.name }} </div>
	<div class='blockcontent'>
	<div class='blocksetting'  id="b{{ block.uid }}"></div>
	<form method="POST" action="/settingmodify/{{block['uid']}}">
		width: <input style='width:30px' type="text" name="width" value="{{block['width']}}" autocomplete="off">
		height: <input style='width:30px' type="text" name="height" value="{{block['height']}}" autocomplete="off">
		<input type="submit" value="change" name="change">
		<input type="submit" value="delete" name="delete">
	</form>
	</div>
	</div>
	<script type="text/javascript">
	$("#b{{ block.uid }}").width({{ block.width * 150 }});
	$("#b{{ block.uid }}").height({{ block.height * 150 }});
	</script>
{% endfor %}
</div>

</body>